* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

.banderol {
    background-image: url('Font\,banderol.jpg');
    color: #fff; /* Couleur du texte sur la bande */
    padding: 50px; /* Espacement interne pour le contenu */
}

header {
    background-color: white;
    background-image: url('Font.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    list-style: none;
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center;
    margin-top: -10px;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 75px;
    text-transform: uppercase;
    border: 3px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
    font-family: Arial, Helvetica, sans-serif;
}

ul li a:hover,
ul li.active a {
    color: royalblue;
}

.titre,
.contacts {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* Pour centrer le texte horizontalement */
}

.titre {
    top: 26%; /* Positionner le titre plus haut */
    color: black;
    font-size: 25px;
}

.contacts {
    top: 42%; /* Positionner les contacts en dessous du titre */
    color: white; /* Couleur du texte */
    font-size: 24px; /* Taille du texte */
}

.titre h1,
.contacts h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.contacts h2 {
    color: black;
    font-size: 20px;
}

.contacts h3 {
    color: blue;
    font-size: 20px;
}